@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #F29F05;
    --color-secondary: #0D0D0D;
    --color-white: #FFFFFF;
    --color-light-grey: #F2F2F2;
    --color-yellow-secondary: #F28705;
    --color-grey: #737373;
}

body {
    font-family: 'Sura', serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    background-color: var(--color-light-grey);
}

/* Encabezado */
header {
    background-color: var(--color-white);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    height: 1%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-nav {
    display: flex;
    gap: 2rem;
}

.header-nav a {
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: var(--color-primary);
}

.logo {
    max-width: 190px;
    height: auto;
}

.cart-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.cart-icon:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
    content: url('../IMG/shopping_cart_24dp_F29F05_FILL0_wght400_GRAD0_opsz24\ \(1\).svg');
}

/*MAIN*/
hr{
    border-color: var(--color-primary);
}

.products-container {
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.product-card {
    width: calc((100% - 5rem) / 6);
    min-width: 200px;
    margin-bottom: 1rem;
    background: var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--color-secondary);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px var(--color-primary);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 1rem;
    text-align: center;
}

.product-info h2 {
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
}

.price {
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
    margin: 0.5rem 0;
}

.add-to-cart {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'League Gothic', sans-serif;
    font-size: 22px;
}

.add-to-cart:hover {
    background-color: var(--color-secondary);
}

/*FOOTER*/

footer {
    background-color: var(--color-white);
    padding: 1rem 2rem;
    text-align: center;
}

.footer-section {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 0;
    padding: 1rem 0;
    box-sizing: border-box;
}

.footer-contact {
    text-align: left;
}

.footer-contact h3 {
    font-family: 'League Gothic', sans-serif;
    font-size: 22px;
    margin: 0;
}

.footer-contact p {
    font-family: 'Sura', serif;
    font-size: 14px;
    margin: 0.2rem 0; /* Reducir espacio entre párrafos */
}
.footer-contact div {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

.footerLogo {
    display: inline-block;
    vertical-align: middle;
    max-width: 120px;
    height: auto;
    margin-left: 1rem;
}

.footer-links {
    text-align: left;
    margin-left: 25%;
}

.footer-links-column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
}

.footer-links a {
    font-family: 'League Gothic', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease;
    display: block;
    margin: 0.3rem 0; /* Espacio más compacto */
}

.footer-links a:hover {
    color: var(--color-primary);
}

.social-links {
    text-align: center;
    padding-top: 0.5rem;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: var(--color-secondary);
    transition: color 0.3s ease;
    margin: 0 0.4rem;
    vertical-align: middle; /* Centra verticalmente los iconos */
}

.social-icon img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}
.social-icon .x:hover{
    content: url('../IMG/icons8-twitterx.svg');
    
}
.social-icon .instagram:hover{
    content: url('../IMG/icons8-instagram.svg');
    
}
.social-icon .youtube:hover{
    content: url('../IMG/icons8-youtube.svg');
    
}
.social-icon .linkedin:hover{
    content: url('../IMG/icons8-linkedin\ \(1\).svg');
    
}

/* Responsive */
@media (max-width: 768px) {
    .main-image,
    .main-text {
        width: 100%;
    }
    
    .main-text {
        padding: 50px 20px;
    }
    
    .footer-section {
        flex: 1 1 100%;
        margin: 1rem 0;
    }
    
    .header-nav {
        gap: 1rem;
    }
    
    .footer-links {
        flex-direction: column;
    }
    
    .footer-links-column {
        padding: 1rem 0;
    }
    
    .social-links {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .product-card {
        width: calc((100% - 4rem) / 5); 

    }
}
@media (max-width: 992px) {
    .product-card {
        width: calc((100% - 3rem) / 4); 
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc((100% - 2rem) / 3); 
    }
}

@media (max-width: 576px) {
    .product-card {
        width: calc((100% - 1rem) / 2); 

    }
}
@media (max-width: 400px) {
    .product-card {
        width: 100%; 
    }
}